
.headermayorista{
    @extend .cajaPortada;
    font-size: 25px;
}


.Bloquecondiciones{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: $colordefondo;
    padding-top: 20px;

    h4{
        text-align: center;
        font-size: 25px;
        font-style: oblique;
        padding: 50px;
        color: $colordeletra;
        color: rgb(171, 84, 8);
        text-shadow: 1px 1px 2px rgba(153, 48, 158, 0.364), 0 0 25px rgb(210, 146, 85), 0 0 5px rgb(227, 156, 70);
    }
    h6{
        text-align: center;
        font-size: 15px;
        font-style: oblique;
        padding: 20px;
    }
    .Bloquecondiciones_acepto{

        text-align: center;
        font-weight: 900;
        font-size: 20px;
        font-style: oblique;
        padding: 10px;
    
    }

}





.bloqueeleccion{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: $colordefondo;
    padding-bottom: 50px;

    .bloqueelecciontitulo{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        font-style: oblique;
        padding: 20px;
        color:$colordeletra ;
        color: rgb(171, 84, 8);
        text-shadow: 1px 1px 2px rgba(153, 48, 158, 0.364), 0 0 25px rgb(210, 146, 85), 0 0 5px rgb(227, 156, 70);
    
    }
    .bloqueeleccionTituloProductos{

        text-align: center;
        font-size: 18px;
        margin: 10px;
    
    }
    .bloqueeleccionTituloCantidades{
    text-align: center;
    font-size: 18x;
    margin: 10px;

   }
  .bloqueeleccion_email{
    text-align: center;
    font-size: 13px;
    margin:10px;


   }
   .botonmayo{
    width: 100px;
    height: 35px;
    padding: 5px;
    &:hover {background-color: #de995e; };
    background-color:rgb(248, 212, 162);

}

  
   
}









